@import "partials/variables";
@import "bourbon/bourbon";
@import "neat/neat";
@import "base/base";
@import "partials/sidebar";
@import "partials/projects";
@import "partials/team";
@import "partials/register";
@import "partials/dropdown";
@import "partials/issue";
@import "font-awesome/scss/font-awesome";

html {
  height: 100%;
  background: white
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.content {
  @include span-columns(12 of 12);
  background-color : #fcfcfc;
  height: 100%;
}

  .main {
    @include span-columns(8 of 12);
    min-height: 100%;
    height: auto;
    @include shift(3);
    .flash {
      height: auto;
      padding: 10px 20px;
      @include span-columns(8 of 8);
      border-radius: 3px;
      }
      .flash.error{
        background-color: #f5b2c0;
        border-color: #741f31;
        color: #a03f4f;
      }
  .title {
    @include span-columns(2 of 8);
    border-radius: 3px;
    padding-left: auto;
    padding-right: auto;
    height: auto;
   }
  }
