@import "bourbon/bourbon";
@import "neat/neat";
@import "base/base";
@import "partials/sidebar";
@import "partials/projects";
@import "partials/team";
$primarycolor: #3c444d;
html {
  height: 100%;
  background: white
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.content {
  @include span-columns(12 of 12);
  height: 100%;
}

  .main {
    @include span-columns(8 of 12);
    height: 100%;
    margin: 0;

    .flash {
      height: auto;
      padding: 10px 20px;
      @include span-columns(8 of 8);
      border-radius: 3px;
      }
      .flash.error{
        background-color: #f5b2c0;
        border-color: #741f31;
        color: #741f31;
      }  
   } 
