@import "bourbon/bourbon";
@import "neat/neat";
@import "base/base";
$primarycolor: #3c444d;
html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.content {
  @include span-columns(12 of 12);
  height: 100%;
}
.sidebar {
  @include span-columns(4 of 12);
  background-color: $primarycolor;
  min-height: 100%;
  height: auto;

  .logo {
    @include span-columns(2 of 4);
    @include shift(1);
    font-weight: 100;
    font-size: 2.5em;
    text-align: center;
    color: white;
  }
  p {
    @include span-columns(4 of 4);
    text-align: center;
    color: white;
  }
  .avatar {
    @include span-columns(4 of 4);
    text-align: center;
    padding: 10px 0 10px 0;

    img {
      -webkit-border-radius: 99em;
      -moz-border-radius: 99em;
      border-radius: 99em;
      border: 5px solid white;
      box-shadow: 0 5px 4px rgba(0, 0, 0, 0.3);
    }
   }
 }
  .main {
    @include span-columns(8 of 12);
    height: 100%;
    margin: 0;
  }
  .projects-box {
    @include span-columns(6 of 12);
    @include shift(1);

    input {
      @include span-columns(3 of 6);
      @include shift(1);
         }
    }
.projects-blank {
  @include span-columns(12 of 12);
  text-align: center;
  padding: 10em 0;
  p {
    color: $medium-gray;
  }
}

.add-a-project {
  @include span-columns(5 of 12);
  @include shift(3.5);
  button {
    margin: 0 10px 10px;
    @include span-columns(4 of 8);
    @include shift(2);
  }
}

