.issue-box
  background-color: #fcfcfc
  border-bottom: 2px solid #e9e9e9
  margin-bottom: 10px
  height: 35px
  padding: 10px 0 0 5px
  line-height: 1
  position: relative

  .priority
    background-color: rgba(0,0,0,0.5)
    color: white
    position: absolute
    height: auto
    +span-columns(3)
    +shift(4)

  a
    color: white

