.low
  border-bottom-color: $green-color
  
.medium
  border-bottom-color: $orange-color

.high
  border-bottom-color: $red-color

.issue-box
  //cursor: pointer
  +span-columns(12)
  background-color: #fcfcfc
  border-bottom-style: solid
  border-bottom-width: 2px
  margin-bottom: 10px
  min-height: 35px
  height: auto
  padding: 10px 0 10px 5px
  line-height: 1
  position: relative
  
  i
    color: $blue
    
  span
    +span-columns(4)
    display: inline

  .priority
    text-align: center
    +span-columns(3)
    +shift(5)

  .priority-box
    +span-columns(4)
    padding: 0 5px
    height: auto
    +omega()
    +shift(4)

    a
      +span-columns(4)
      text-align: center

