.low
  border-bottom-color: $green-color
  
.medium
  border-bottom-color: $orange-color

.high
  border-bottom-color: $red-color

+direction-context(right-to-left)
  .issue-box
    //cursor: pointer
    +span-columns(12)
    background-color: #fcfcfc
    border-bottom-style: solid
    border-bottom-width: 2px
    margin-bottom: 10px
    min-height: 35px
    height: auto
    padding: 10px 0 10px 5px
    line-height: 1
    position: relative
    transition: border-bottom-color 500ms
    i
      color: $blue
      
    a
      float: left
      color: #333
      cursor: pointer

    .priority
      text-align: center
      +span-columns(3)

    .priority-box
      +span-columns(4)
      padding: 0 5px
      height: auto
      +omega()
      
      +reset-layout-direction
      a
        +span-columns(4)
        text-align: center

.issue-sidebar
  +span-columns(4)
  +omega()
  z-index: 9999
  background-color: white
  color: #333
  position: absolute
  top: 0
  right: 0
  min-height: 100%
  height: auto
  padding: 10px

  h2
    +span-columns(8)
    font-weight: 200
    text-align: center
    +shift(2)
    padding-bottom: 5px
    border-bottom: 1px solid #333
    margin-bottom: 10px
    
  .close
    position: absolute
    top: 0
    left: 0
    color: #333
  .close:hover
    color: $red-color
    transition: color 300ms

  h4
    +span-columns(8)
    font-weight: 400

.issue-sidebar-desc

  input[type="text"]
    border: none
    box-shadow: none
    border-radius: 2px
    border-color: white

  input[type="submit"]
    position: absolute
    left: -9999px

  input[type="text"]:focus
    border: 1px solid #333
    border-color: $blue-color
    transition: border-color 300ms

.issue-sidebar-enter
  right: -500px
  transition: all 1s

.issue-sidebar-enter-active
  right: 0px
  
.issue-sidebar-leave
  right: 0px
  opacity: 0
  transition: all 1s

.issue-sidebar-leave-active
  right: 500px
  
.issue-sidebar-appear
  opacity: 0.01
  transition: all 0.5s ease-in

.issue-sidebar-appear-active
    opacity: 1

.comment-box-wrapper
  h4
    +span-columns(12)
