$primarycolor: #3c444d
.team
  padding-top: 20px
  +span-columns(8 of 8)
  span
    font-size: 0.9em
  .teamlist
    +span-columns(8 of 8)
    h2
      +span-columns(2 of 5)
    button
      +span-columns(2 of 8)
      +shift(2)
      +omega()
      float: right
      background-color: #56C455
    button:hover
      background-color: #379436
    hr
      +span-columns(5 of 5)

  .teaminvite
    padding: 10em 0
    +span-columns(5 of 8)
    +shift(1.5)
    button
      +span-columns(3 of 5)
      +shift(1)
    input
      margin-top: 20px
    h3
      text-align: center
      margin
    p
      color: #999
      text-align: center
    .invitebox
      +span-columns(3 of 8)
      +shift(2)

  